@model Mychelin.Models.Person

@{
    ViewData["Title"] = "アカウント削除";
}

<!--ログアウトボタン表示-->
<div style="position: absolute; top: 10px; right: 10px;">
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-primary">ログアウト</button>
    </form>
</div>

<h3 style="color: red;text-align: center;">アカウントを削除します</h3>
<h4 style="color: red;text-align: center;">※※アカウントを削除するとデータは復元できません※※</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            ※セキュリティ保護のため、表示されません
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonId" />
        <input type="submit" value="アカウント削除" class="btn btn-danger" /> |
        <a asp-controller="Shoplists" asp-action="Index">マイページ</a>
    </form>
</div>
