@model Mychelin.Models.Person

@{
    ViewData["Title"] = "アカウント削除";
}

<h3 style="text-align: center;">アカウントを削除します</h3>
<h4 style="text-align: center;">※※アカウントを削除するとデータは復元できません※※</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonId" />
        <input type="submit" value="アカウント削除" class="btn btn-danger" /> |
        <a asp-controller="Home" asp-action="Index">ホームに戻る</a>
    </form>
</div>
